/* MyCity main.css

 (c) 2017 Joshua Butt
*/

@charset "utf-8";

body {
    margin: 0;
    min-height: 100vh;

    font-family: "Roboto", sans-serif;

    background-image: url("/static/brisbane_image.jpg");
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;

    background-color: #fafafa;
}


.sidebar_overlay {
    width: 100%;
    height: 100vh;

    /* Element Positioning */
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;

    /* Element Styling */
    background-color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;

    transition: opacity 300ms ease-in-out;
}

:root.sidebar_visible .sidebar_overlay {
    /* Element Styling */
    pointer-events: initial;
    opacity: 1;
}

:root.sidebar_visible .sidebar {
    /* Element Positioning */
    left: 0px;
}

.sidebar {
    /* Element Sizing */
    width: 320px;
    height: 100vh;

    
    position: fixed;
    top: 0px;
    left: -330px;
    z-index: 3;

    /* Element Styling */
    background-color: rgba(255,255,255,1);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.26);

    transition: left 300ms ease-in-out;
}

.sidebar > #nav_links > a {
    /* Element Sizing */
    height: 48px;
    padding-left: 16px;

    /* Element Styling */
    display: block;
    line-height: 48px;
    background-color: rgba(255,255,255,1);

    transition: background-color 150ms ease-in-out;
}

.sidebar > #nav_links > a:hover {
    background-color: rgba(0,0,0,0.12);
}

.header {
    background-color: #3a5aff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.54);

    width: 100%;
    height: 64px;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.header > img {
    /* Element Sizing */
    width: 32px;
    height: 32px;
    margin: 16px;

    /* Element Styling */
    cursor: pointer;
}

.header > span {
    line-height: 64px;
    font-size: 24px;
    font-weight: bold;
    margin: 0;

    position: relative;
    top: -24px;

    color: #fff;
}


.paper_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 96px 0 32px 0;
    min-height: calc(100vh - 128px);
    width: 100%;
}

.paper {
    margin: 0 auto 0 auto;

    border-radius: 4px;

    padding: 16px;
    background-color: #fff;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.54);
}

.paper_form {
    width: 320px;
}

.paper > h1 {
    font-size: 24px;
    color: #3a5aff;
}

.paper > form > input {
    width: 320px;
}

.form_submit {
    width: 240px!important;
    height: 32px;

    line-height: 32px;
    text-align: center;
    font-size: 13.3333px;
    font-family: 'Arial', sans-serif;

    background-color: #3a5aff;
    color: #fff;

    border: none;
    margin: 16px 40px 0 40px;

    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.54);
}

a {
    text-decoration: none;
}

span.required {
    color: crimson;
}