{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MyCity - Account Settings</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />
</head>

<body>
    <div class="header">
        <img src="{% static "menu_button.svg" %}" onclick="document.documentElement.classList.toggle('sidebar_visible')" />
        <span>MyCity - Change Account Settings</span>
    </div>

    <div class="sidebar_overlay" onclick="document.documentElement.classList.toggle('sidebar_visible')"></div>
    <div class="sidebar">
        <img />
        <div id="nav_links">
            <a href="/">Home</a>
            <a href="/account">My Account</a>                
            <a href="/logout">Logout</a>
        </div>
        <div id="site_information">
        </div>
    </div>
    <div class="paper_wrapper">
        <div class="paper">
            <h1>Change Account Settings</h1>
            <form "/accountSettings/" method="POST">{% csrf_token %}
                <p>Email Address:</p>
                <input type="text" name="email" value={{emailInput}}>
				<br><span class="required">{{emailError}}</span>
                <br>
                <p>Account Type:</p>
                <select name="type">
                    <option value="student">Student</option>
                    <option value="tourist">Tourist</option>
                    <option value="businessman">Businessman</option>
                </select>
                <p>Street No:</p>
                <input type="text" name="street" value={{streetInput}}>
				<br><span class="required">{{streetError}}</span>
                <br>
                <p>Suburb:</p>
                <input type="text" name="suburb" value={{suburbInput}}>
				<br><span class="required">{{suburbError}}</span>
                <br>
                <p>Postcode:</p>
                <input type="text" name="postcode" value={{postcodeInput}}>
				<br><span class="required">{{postcodeError}}</span>
                <br>
                <p>Phone Number:</p>
                <input type="text" name="phoneNo" value={{phoneNoInput}}>
				<br><span class="required">{{phoneNoError}}</span>
                <br>
                <input class="form_submit" type="submit" value="Update Account">
            </form>
            <a href="/account/"><div class="form_submit" style="background-color: #F44336;"><span>Return to My Account</span></div></a>
        </div>
    </div>
</body>

</html>