{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MyCity</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />
</head>

<body>
    <div class="header">
        <img src="{% static "menu_button.svg" %}" onclick="document.documentElement.classList.toggle('sidebar_visible')" />
        <span>MyCity - My Account</span>
    </div>

    <div class="sidebar_overlay" onclick="document.documentElement.classList.toggle('sidebar_visible')"></div>
    <div class="sidebar">
        <img />
        <div id="nav_links">
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
        </div>
        <div id="site_information">
        </div>
    </div>
    <div class="paper_wrapper">
        <div class="paper">
            <h1>My Account</h1>
            <p>Username: {{username}}</p>
            <p>Account Type: {{type}}</p>
            <p>Address: {{address}}</p>
            <a href="/accountSettings/"><div class="form_submit" style="display: inline-block;"><span>Account Settings</span></div></a>
            <a href="/changePassword/"><div class="form_submit" style="display: inline-block;"><span>Change Password</span></div></a>
<!--             <div class="recomedations">
                <h2>My Reccomendations:</h2>
                
            </div> -->
        </div>
    </div>
</body>

</html>