{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MyCity - Change Password</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />
</head>

<body>
    <div class="header">
        <img src="{% static "menu_button.svg" %}" onclick="document.documentElement.classList.toggle('sidebar_visible')" />
        <span>MyCity - Change Password</span>
    </div>

    <div class="sidebar_overlay" onclick="document.documentElement.classList.toggle('sidebar_visible')"></div>
    <div class="sidebar">
        <img />
        <div id="nav_links">
            <a href="/">Home</a>
            <a href="/account">My Account</a>                
            <a href="/logout">Logout</a>
        </div>
        <div id="site_information">
        </div>
    </div>
    <div class="paper_wrapper">
        <div class="paper">
            <h1>Change Password</h1>
            <form "/changePassword/" method="POST">{% csrf_token %}
                <p>New Password:</p>
                <input type="password" name="password">
                <br><span class="required">{{passwordError}}</span>
                <br>
                <input class="form_submit" type="submit" value="Change Password">
            </form>
            <a href="/account/"><div class="form_submit" style="background-color: #F44336;"><span>Return to My Account</span></div></a>
        </div>
    </div>
</body>

</html>