{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MyCity</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />
</head>

<body>
    <div class="header">
        <img src="{% static "menu_button.svg" %}" onclick="document.documentElement.classList.toggle('sidebar_visible')" />
        <span>MyCity</span>
    </div>

    <div class="sidebar_overlay" onclick="document.documentElement.classList.toggle('sidebar_visible')"></div>
    <div class="sidebar">
        <img />
        <div id="nav_links">
            <a href="/home">Home</a>
            {% if isLogin %}
                <a href="/account">My Account</a>
                <a href="/logout">Log Out</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </div>
        <div id="site_information">
        </div>
    </div>
    <div class="paper_wrapper">
        <div class="paper">
            <center>
                <h1>An unexpected error has occured.</h1>
                <a href="/">
                    <h3>Click here to go back to the homepage.</h3>
                </a>
            </center>
        </div>
    </div>
</body>

</html>