{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MyCity</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />
</head>

<body>
    <div class="header">
        <img src="{% static "menu_button.svg" %}" onclick="document.documentElement.classList.toggle('sidebar_visible')" />
        <span>MyCity</span>
    </div>

    <div class="sidebar_overlay" onclick="document.documentElement.classList.toggle('sidebar_visible')"></div>
    <div class="sidebar">
        <img />
        <div id="nav_links">
            {% if isLogin %}
                <a href="/account">My Account</a>
                <a href="/logout">Log Out</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </div>
        <div id="site_information">
        </div>
    </div>
    <div class="paper_wrapper">
        <div class="paper">
            <h1>Get to know your city!</h1>
            <h4>MyCity Lets you find places relevant to you!</h4>

            <form action="/search/" method="POST">{% csrf_token %}
<!--                 <select name = "option">
                  <option value="blank">Things to search</option>
                  <option value="park">Park</option>
                  <option value="zoo">Zoo</option>
                  <option value="museum">Museum</option>
                  <option value="restaurant">Restaurant</option>
                  <option value="mall">Mall</option>
                  <option value="college">College</option>
                  <option value="library">Library</option>
                  <option value="hotel">Hotel</option>
                  <option value="industry">Industry</option>
                  <option value="all">All</option>
                </select> -->
                <input type="text" name="search" placeholder="Search For Something">
                <br>
                <input class="form_submit" type="submit" value="Search">
            </form>
        </div>
    </div>
</body>

</html>