{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MyCity - Manage Post</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />
</head>

<body>
    <div class="header">
        <img src="{% static "menu_button.svg" %}" onclick="document.documentElement.classList.toggle('sidebar_visible')" />
        <span>MyCity - Manage User Post</span>
    </div>

    <div class="sidebar_overlay" onclick="document.documentElement.classList.toggle('sidebar_visible')"></div>
    <div class="sidebar">
        <img />
        <div id="nav_links">
            {% if isLogin %}
                <a href="/account">My Account</a>
                <a href="/logout">Log Out</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </div>
        <div id="site_information">
        </div>
    </div>
    <div class="paper_wrapper">
        <div class="paper" style="min-width: 848px">
            <div class="location" style="display: inline-block">
                <h1>{{locationName}}</h1>
                <p>{{locationAddress}}</p>
                <p>{{locationDescription}}</p>

                <!-- BEGIN MAP -->
                <div id="map" style="width: 480px; min-height: 360px; margin-right: 8px;"></div>
                <script>
                    function initMap() {
                        var geocoder, map;
                        var address = '{{locationAddress}}';
                        if (address == ''){
                            address = 'Brisbane, Australia'
                        }

                        geocoder = new google.maps.Geocoder();
                        geocoder.geocode({
                            'address': address
                        }, function(results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                var myOptions = {
                                    zoom: 12,
                                    center: results[0].geometry.location,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                }
                                map = new google.maps.Map(document.getElementById("map"), myOptions);

                                var marker = new google.maps.Marker({
                                    map: map,
                                    position: results[0].geometry.location
                                });
                            }
                        });
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdqinSNSPyH4RNFoQLGRpjV4P0c6ecE0A&callback=initMap" async defer></script>
                <!-- END MAP -->
            </div>

            <div class="reviews" style="display: inline-block; width: 360px;">
                <h1>User Reviews:</h1>
                <div class="paper">
                    {% for review in reviews %}
                    <h3>{{review.userName}} - {{review.postTime}}<h3>
                    <p>Rating: {{review.rating}}</p>
                    <p>{{review.reviewText}}</p>
                    {% if isAdmin %}
                        <a href="/modifyPost?reviewID={{review.reviewID}}">Modify Post</a>
                    {% endif %}
                    {% endfor %}
                </div>

                <h1>Post Review:</h1>
                <form "/review/" method="POST">{% csrf_token %}
                    <p>Review:</p>
                    <textarea name="user_text" style="min-width: 360px; min-height: 240px;">{{postText}}</textarea>
                    <br>
                    <p>Rating:</p>
                    <span>0 </span><input type="range" min="0" max="5" name="rating"><span> 5</span>
                    <br>
                    <center>
                        <input class="form_submit" type="submit" value="Post Review">
                    </center>
                </form>
            </div>
        </div>
    </div>
</body>

</html>