{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MyCity - Login</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />
</head>

<body>

    <div class="header">
        <img src="{% static "menu_button.svg" %}" onclick="document.documentElement.classList.toggle('sidebar_visible')" />
        <span>MyCity - Login</span>
    </div>

    <div class="sidebar_overlay" onclick="document.documentElement.classList.toggle('sidebar_visible')"></div>
    <div class="sidebar">
        <img />
        <div id="nav_links">
            <a href="/">Home</a>
            <a href="/register">Register</a>
        </div>
        <div id="site_information">
        </div>
    </div>


    <div class="paper_wrapper">
        <div class="paper paper_form">
            <form action="/login/" method="POST">{% csrf_token %}
                <h1>Account Login:</h1>
                <!-- TODO: ADD ERROR MESSAGE HERE PASSED FROM BACKEND -->
				<br><span>{{mainError}}</span>
                <p>Username:</p>
                <input type="text" name="username" value={{usernameInput}}>
				<br><span>{{usernameError}}</span>
                <br>
                <p>Password:</p>
                <input type="password" name="password" value={{passwordInput}}>
				<br><span>{{passwordError}}</span>
				<br>
                <input class="form_submit" type="submit" value="Login">
            </form>
            <a href="/recoverPassword"><p>Forgot Password?</p></a> 
        </div>
    </div>


</body>

</html>