{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MyCity - Manage Post</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />
</head>

<body>
    <div class="header">
        <img src="{% static "menu_button.svg" %}" onclick="document.documentElement.classList.toggle('sidebar_visible')" />
        <span>MyCity - Manage User Post</span>
    </div>

    <div class="sidebar_overlay" onclick="document.documentElement.classList.toggle('sidebar_visible')"></div>
    <div class="sidebar">
        <img />
        <div id="nav_links">
            <a href="/">Home</a>
            <a href="/account">My Account</a>                
            <a href="/logout">Logout</a>
        </div>
        <div id="site_information">
        </div>
    </div>
    <div class="paper_wrapper">
        <div class="paper">
            <h1>Edit User Post:</h1>
            <p>Username:</p>
            <p>{{userName}}</p>
            <p>Username:</p>
            <p>{{location}}</p>
            <p>Rating:</p>
            <p>{{rating}}</p>
            <p>Post Time:</p>
            <p>{{postTime}}</p>
            <form "/modifyReview/" method="POST">{% csrf_token %}
                <textarea name="user_text" style="min-width: 620px; min-height: 240px;">{{postText}}</textarea>
                <br>
                <input class="form_submit" type="submit" name="update_review" value="Update Review">
                <input class="form_submit" type="submit" name="delete_review" style="background-color: #F44336;" value="Delete Review">
            </form>
            <center>
                <a href="/location?id={{locationID}}"><div class="form_submit" style="background-color: #F44336;"><span>Return To Reviews</span></div></a>
            </center>
        </div>
    </div>
</body>

</html>