{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MyCity - Admin - Register</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />
</head>

<body>

    <div class="header">
        <img src="{% static "menu_button.svg" %}" onclick="document.documentElement.classList.toggle('sidebar_visible')" />
        <span>MyCity - Admin - Register</span>
    </div>

    <div class="sidebar_overlay" onclick="document.documentElement.classList.toggle('sidebar_visible')"></div>
    <div class="sidebar">
        <img />
        <div id="nav_links">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
        <div id="site_information">
        </div>
    </div>


    <div class="paper_wrapper">
        <div class="paper paper_form">
            <h1>Admin Account Registration</h1>
            <form action="/registerAdmin/" method="POST">{% csrf_token %}
                <p style="color: crimson">Fields marked with a * are required</p>
                <!-- TODO: ADD ERROR MESSAGE HERE PASSED FROM BACKEND -->
				<span>{{mainError}}</span>
                <p>Username: <span class="required">*</span></p>
                <input type="text" name="username" value={{usernameInput}}>
				<br><span class="required">{{usernameError}}</span>
                <br>
                <p>Password: <span class="required">*</span></p>
                <input type="password" name="password" value={{passwordInput}}>
				<br><span class="required">{{passwordError}}</span>
                <br>
                <p>Confirm Password: <span class="required">*</span></p>
                <input type="password" name="confirm" value={{confirmInput}}>
				<br><span class="required">{{confirmError}}</span>
                <br>
                <p>Email Address:</p>
                <input type="text" name="email" value={{emailInput}}>
				<br><span class="required">{{emailError}}</span>
                <br>
                <p>Phone Number:</p>
                <input type="text" name="phoneNo" value={{phoneNoInput}}>
				<br><span class="required">{{phoneNoError}}</span>
                <br>
                <input class="form_submit" type="submit" value="Register">
            </form>
        </div>
    </div>


</body>

</html>