{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MyCity</title>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}" />
</head>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#map {
        height: 400px;
        width: 100%;
        }
</style>
<body>
    <div class="header">
        <img src="{% static "menu_button.svg" %}" onclick="document.documentElement.classList.toggle('sidebar_visible')" />
        <span>MyCity</span>
    </div>

    <div class="sidebar_overlay" onclick="document.documentElement.classList.toggle('sidebar_visible')"></div>
    <div class="sidebar">
        <img />
        <div id="nav_links">
            <a href="/">Home</a>
            {% if isLogin %}
                <a href="/account">My Account</a>
                <a href="/logout">Log Out</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </div>
        <div id="site_information">
        </div>
    </div>
    <div class="paper_wrapper">
        <div class="paper">
            <h1>Search Results For: {{ search_term }}</h1>
                <table>
                    {% if lists %} 
                    <tr>
                        <th> name </th>
                        <th> address </th>
                        <th> website </th>
                        <th> phone </th>
                        <th> rating </th>
                    </tr>                                        
                        {% for item in lists %}
                        <tr> 
                            <td>{{ item.name }}</td>
                            <td>{{ item.address }}</td>
                            <td>{{ item.website }}</td>
                            <td>{{ item.phone }}</td>
                            <td>{{ item.rating }}</td>
                        </tr>>
                        {% endfor %}                   
                    {% else %}
                        <strong>There are no results present.</strong>
                    {% endif %}
                </table>
                    {% if lists %}
                    {% for item in lists %}
                <div class="paper_wrapper">
                <div class="paper">
            <!-- BEGIN MAP -->
            <div id="map" style="min-width: 620px; min-height: 465px;"></div>
            <script>
                function initMap() {
                    var geocoder, map;
                    var address = '{{item.address}}';
                    if (address == ''){
                        address = 'Brisbane, Australia'
                    }

                    geocoder = new google.maps.Geocoder();
                    geocoder.geocode({
                        'address': address
                    }, function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            var myOptions = {
                                zoom: 12,
                                center: results[0].geometry.location,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            }
                            map = new google.maps.Map(document.getElementById("map"), myOptions);

                            var marker = new google.maps.Marker({
                                map: map,
                                position: results[0].geometry.location
                            });
                        }
                    });
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdqinSNSPyH4RNFoQLGRpjV4P0c6ecE0A&callback=initMap" async defer></script>
<!--                 <div id="map"></div>
                <script>
                  function initMap() {
                  	var latLng = new google.maps.LatLng(-27.477359,153.028340);
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 15,
                      center: new google.maps.LatLng(-27.477359, 153.028340)
                    });
                    
                    var marker = new google.maps.Marker({
                      position: latLng,
                      map: map
                    });
                  }
                </script>
                <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoH5T0-s9vEkGMpQHN-mmggJn88Oqt4yQ&callback=initMap">
                </script> -->
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>